span {
	font-family: 'Lato', sans-serif;
	font-weight:lighter;
}

th {
	font-family: 'Lato', sans-serif;
	font-weight:300;
}

body {
	padding-top: 70px;
}

.ui-autocomplete {
	z-index: 3000;
}

#movie-search {  
	font-family: 'Lato', sans-serif;
	font-weight:400;
}

.code-poster {
	height:21.7em;
	width:14.56em; 
}

.poster-sm {
	height:24.75em;
	width:15.6em;
}

.poster-med {
	height:31em;
	width:20.8em;
}

.poster-row {
	margin-top: 1.5em;
}

.poster-container {
	position: relative;
}

.poster-title-container {
	opacity: 0;
	color: #fff;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.poster-title {
	text-align: center;
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Lato', sans-serif;
}

#profile-picture {
	width:20em;
	height:auto;
	display:inline-block;
}

.profile-sub-icon {
	width:10em;
	height:10em;
	margin-top:4em;
}

a.darken {
    display: inline-block;
    background: black;
}

a.darken img.poster-med {
    display: block;
    
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

a.darken img.poster-sm {
    display: block;
    
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

a.darken:hover img.poster-med, a.hover_effect {
    opacity: 0.5;          
}

a.darken:hover img.poster-sm, a.hover_effect {
    opacity: 0.5;          
}

a.darken:hover .poster-title-container, a.hover_effect {
    opacity:1;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;        
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}


.focus-input-lg {
	padding: 10px;
	border: solid 1px #dcdcdc;
	width: 75%;
	text-align: center;
	transition: box-shadow 0.3s, border 0.3s;
}

.focus-input-lg:focus,
.focus-input-lg.focus{
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

.backdrop-container {
	background-color: rgba(0,0,0,.5); 
	background-blend-mode: multiply;
	background-size:cover;
	background-repeat: no-repeat;
    background-position: center; 
	height: 29em;
	top: 0;
    bottom: 40%;
}

.code-poster-container {
	position:absolute;
	z-index: 2;
	margin-top:-10em;
	width:100%;
}

.details-container {
    top: 60%;
    bottom: 0;
}

#details-title { 
	font-size:3.3em;
	margin-top:3.5em;
}

#details-subtitle { 
	font-size: 2.5em;
}

#details-overview { 
	font-size: 2em;
	margin-top:1em;
}

 @media(max-width:980px){
  	#details-trailer {
    	padding-top: 5.5em;
  	}
}

#details-synopsis, #details-runtime, #details-release, #details-seller { 
	font-size: 0.5em;
	font-family: 'Lato', sans-serif;
	font-weight:300;
}

#action-button { 
	margin-top: 4em;
	margin-bottom: 3em;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.spin:hover {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 5.0s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

