span {
	font-family: 'Lato', sans-serif;
	font-weight:lighter;
}

body {
	padding-top: 70px;
}

.poster-med {
	height:31em;
	width:20.8em;
}

.poster-row {
	margin-top: 1.5em;
}

.poster-container {
	position: relative;
}

.poster-title-container {
	opacity: 0;
	color: #fff;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.poster-title {
	text-align: center;
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Lato', sans-serif;
}

#profile-picture {
	width:20em;
	height:auto;
	display:inline-block;
}

.profile-sub-icon {
	width:10em;
	height:10em;
	margin-top:4em;
}

a.darken {
    display: inline-block;
    background: black;
}

a.darken img.poster-med {
    display: block;
    
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

a.darken:hover img.poster-med {
    opacity: 0.5;          
}

a.darken:hover .poster-title-container {
    opacity:1;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}


.searchbar {
  padding: 10px;
  border: solid 1px #dcdcdc;
  width: 75%;
  text-align: center;
  transition: box-shadow 0.3s, border 0.3s;
}

.searchbar:focus,
.searchbar.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.spin:hover {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 5.0s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

