<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		kodala
	</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/digi.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-horizon.css">
	<link rel="stylesheet" type="text/css" href="/css/buttons.css">
	<link rel="stylesheet" type="text/css" href="/css/vicons-font.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/favicons/manifest.json">
	<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.throttle-debounce.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/digi.js"></script>
</head>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
	      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>                        
	      	</button>
	      	<a class="navbar-brand" href="/">
	      		<img src="/images/koala-clear.png">
	      	</a>
	    </div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/allcodes?format=1&page=1">UltraViolet</a></li>
				<li><a href="/allcodes?format=2&page=1">iTunes</a></li>
				<li><a href="/allcodes?format=3&page=1">Google Play</a></li>
				<li><a href="/allcodes?format=4&page=1">DMA</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right" style="margin-right:1em;">
				<li>
					<form class="navbar-form form-inline" method="post" role="form">
			        	<div class="form-group">
			          		<input id="movie-search" name="query" type="search" class="form-control" placeholder="Search">
			        	</div>
			      	</form>
			    </li>
			    <li>
			      	{% if user %}
			        <button onclick="window.location.href='/myprofile'" class="btn navbar-btn">
		    			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		    		</button>
		    		<button onclick="window.location.href='{{log_url}}'" class="btn navbar-btn">
		    			<span onclick="" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
		    		</button>
		    		{% else %}
		    		<button onclick="window.location.href='{{log_url}}'" class="btn navbar-btn">
		    			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
		    		</button>
		    		{% endif %}
		    	</li>
		    </ul>
		</div>
	</div>
</nav>

<body>

	<section id="title">
		<div class="container-fluid">
			<div class="row" style="margin-bottom:0em;">
				{% if format == 1 %}
					<div class="col-xs-12 col-md-12 text-center">
						<span id="codeFormat" format="{{format}}" style="font-size:3em;">UltraViolet</span>
						<img src="/images/ultraviolet.png" class="" style="width:4em; height:4em; margin-left:1em; margin-bottom:1em;">
					</div>
				{% elif format == 2 %}
					<div class="col-xs-12 col-md-12 text-center">
						<span id="codeFormat" format="{{format}}" style="font-size:3em;">iTunes</span>
						<img src="/images/itunes.png" class="" style="width:4em; height:4em; margin-left:1em; margin-bottom:1em;">
					</div>
				{%  elif format == 3 %}
					<div class="col-xs-12 col-md-12 text-center">
						<span id="codeFormat" format="{{format}}" style="font-size:3em;">Google Play</span>
						<img src="/images/google-play.png" class="" style="width:4em; height:4em; margin-left:1em; margin-bottom:1em;">
					</div>
				{% elif format == 4 %}
					<div class="col-xs-12 col-md-12 text-center">
						<span id="codeFormat" format="{{format}}" style="font-size:3em;">DMA</span>
						<img src="/images/dma.png" class="" style="width:4em; height:4em; margin-left:1em; margin-bottom:1em;">
					</div>
				{% endif %}
			</div>
			<div class="row" style="margin-bottom:4em;">
				<div class="col-xs-3 col-md-5"></div>
				<div class="col-xs-6 col-md-2 text-center">
					<div class="custom-select form-control text-center">
						<select class="text-center" name="sort-options" id="sort-options" style="width:100%;">
							<option value="" disabled>Sort By</option>
							<option value="0" {% if sort == 0 %} selected {% endif %}>Price</option>
							<option value="1" {% if sort == 1 %} selected {% endif %}>Title</option>
							<option value="2" {% if sort == 2 %} selected {% endif %}>Date Added</option>
						</select>
					</div>
				</div>
				<div class="col-xs-3 col-md-5"></div>
			</div>
		</div>
	</section>

	<section>
		<div class="container-fluid">
			<div class="row text-center">
				{% for code in codes %}
					<div class="col-xs-6 col-md-3 text-center">
						<div class="poster-container">
							<a href="/code?id={{code.key.id()}}" class="darken hover">
						      	<img src="https://image.tmdb.org/t/p/w342/{{code.posterurl}}" class="img-responsive poster-med" movie-title="{{code.title}}">
								<div class="poster-title-container">
									<div class="poster-title">
								    	{{code.title}}<br>${{ "{0:0.2f}".format(code.price) }}
								    </div>
								</div>
						    </a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
</body>

<footer style="margin-top:2em;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center">
				<button id="loadMoreBtn" type="button" class="btn button button--itzel button--size-l button--border-thin" style="display:inline-block; height:4em;">
					<i class="button__icon icon icon-plus"></i>
					<span style="font-weight:300;">Load More</span>
				</button>
			</div>
		</div>
	</div>
</footer>

</html>