<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		kodala - {{code.title}}
	</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/digi.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/buttons.css">
	<link rel="stylesheet" type="text/css" href="/css/vicons-font.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/favicons/manifest.json">
	<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.throttle-debounce.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/digi.js"></script>
</head>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
	      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>                        
	      	</button>
	      	<a class="navbar-brand" href="/">
	      		<img src="/images/koala-clear.png">
	      	</a>
	    </div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/allcodes?format=1&page=1">UltraViolet</a></li>
				<li><a href="/allcodes?format=2&page=1">iTunes</a></li>
				<li><a href="/allcodes?format=3&page=1">Google Play</a></li>
				<li><a href="/allcodes?format=4&page=1">DMA</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right" style="margin-right:1em;">
			    <li>
			      	{% if user %}
			        <button onclick="window.location.href='/myprofile'" class="btn navbar-btn">
		    			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		    		</button>
		    		<button onclick="window.location.href='{{log_url}}'" class="btn navbar-btn">
		    			<span onclick="" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
		    		</button>
		    		{% else %}
		    		<button onclick="window.location.href='{{log_url}}'" class="btn navbar-btn">
		    			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
		    		</button>
		    		{% endif %}
		    	</li>
		    </ul>
		</div>
	</div>
</nav>

<body style="padding-top:0" movieid="{{code.movieid}}">
	<div class="container-fluid">
		<div class="row backdrop-container text-center" style="background-image: url(https://image.tmdb.org/t/p/w1280{{code.backdropurl}});">
			<!--
			<div class="col-xs-12 col-md-4 text-center">
				<img src="https://image.tmdb.org/t/p/w342/{{code.posterurl}}" class="img-responsive code-poster">
			</div>
			<div class="hidden-xs col-md-8 text-center">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<span id="code-title"></span>
					</div>
				</div>
			</div>
			-->
		</div>
		<div class="row code-poster-container text-center">
			<div class="col-xs-12 col-md-12 text-center">
				<center>
					<img src="https://image.tmdb.org/t/p/w342/{{code.posterurl}}" class="img-responsive code-poster">
				</center>
			</div>
		</div>
		<div class="row details-container">
			<div class="col-xs-12 col-md-12">
				<div class="row text-center" id="details-title">
					<div class="col-xs-12 col-md-12">
						<span id="title">{{code.title}}</span>
					</div>
				</div>
				<div class="row text-center" id="details-subtitle">
					<div class="col-xs-0 col-sm-2 col-md-4"></div>
					<div class="col-xs-12 col-sm-8 col-md-4">
						<div class="col-xs-4 col-sm-4 col-md-4 text-center">
							<span>${{ "{0:0.2f}".format(code.price) }}</span>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 text-center">
							<span>{{ quality[code.quality] }}</span>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 text-center">
							{% if code.codeformat == 1 %}
							<img width="50px" height="50px" alt="ultraviolet code" src="/images/ultraviolet.png">
							{% elif code.codeformat == 2 %}
							<img width="50px" height="50px" alt="itunes code" src="/images/itunes.png">
							{% elif code.codeformat == 3 %}
							<img width="50px" height="50px" alt="google play code" src="/images/google-play.png">
							{% else %}
							<img width="50px" height="50px" alt="disney movies anywhere code" src="/images/dma.png">
							{% endif %}
						</div>
					</div>
					<div class="col-xs-0 col-sm-2 col-md-4"></div>
				</div>
				<div class="row" id="details-overview">
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<span style="font-weight:300">Synopsis</span><br>
								<div id="details-synopsis"></div>
							</div>
						</div>
						<div class="row" style="margin-top:0.5em">
							<div class="col-xs-12 col-md-12">
								<span style="font-weight:300">{% if code.codetype == 2 %} Length {% else %} Runtime {% endif %}</span><br>
								<div id="details-runtime"></div>
							</div>
						</div>
						<div class="row" style="margin-top:0.5em;">
							<div class="col-xs-12 col-md-12">
								<span style="font-weight:300">{% if code.codetype == 2 %} Air Date {% else %} Release Date {% endif %}</span><br>
								<div id="details-release"></div>
							</div>
						</div>
						<div class="row" style="margin-top:0.5em;">
							<div class="col-xs-12 col-md-12">
								<span style="font-weight:300">Seller</span><br>
								<div id="details-seller">
									<a href="/profile?id={{seller.userid}}">{{seller.username}}</a> ({{seller.reputation}}
									<img src="/images/star.png" style="height:0.9em; width: 0.9em;">)
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<div class="col-xs-12 col-md-12 text-center embed-responsive embed-responsive-16by9">
								<iframe id="details-trailer" src="" frameborder="0" style="padding:20px 15px 10px 15px;"></iframe>
							</div>
						</div>
						<div class="row text-center" style="margin-top:1em;">
							<div class="col-xs-3 col-md-3"></div>
							<div class="col-xs-2 col-md-2">
								<a id="rotten-link" href="" target="_blank">
									<img class="img-responsive" width="50px" height="50px" src="/images/rotten-tomatoes.png">
								</a>
							</div>
							<div class="col-xs-2 col-md-2">
								<a href="https://www.themoviedb.org/{% if code.codetype == 1 %}m{% else %}tv{% endif %}/{{code.movieid}}" target="_blank">
									<img class="img-responsive" width="50px" height="50px" src="/images/tmdb.png">
								</a>
							</div>
							<div class="col-xs-2 col-md-2">
								<a id="imdb-link" href="" target="_blank">
									<img class="img-responsive" width="50px" height="50px" src="/images/imdb.png">
								</a>
							</div>
							<div class="col-xs-3 col-md-3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center">
				
				{% if user and seller.userid == user.user_id() %}
					<form id="action-button" method="post">
						<div class="form-group text-center">
							<button type="submit" class="btn button button--itzel button--size-l button--border-thin" style="display:inline-block; height:4em;">
								<i class="button__icon icon icon-trash"></i>
								<span style="font-weight:300;">Remove</span>
							</button>
						</div>
						<input type="hidden" name="codeid" value="{{code.key.id()}}">
				{% else %}
					{% if user %}
						<form id="action-button" method="post" action="https://www.paypal.com/cgi-bin/webscr">
							<input type="hidden" name="cmd" value="_xclick">
							<input type="hidden" name="business" value="{{seller.email}}">
							<input type="hidden" name="item_name" value="Kodala - {{code.title}} ({{all_formats[code.codeformat]}})">
							<input type="hidden" name="amount" value="{{ "{0:0.2f}".format(code.price) }}">
							<input type="hidden" name="no_shipping" value="1">
							<input type="hidden" name="no_note" value="1">
							<input type="hidden" name="quantity" value="1">
							<input type="hidden" name="currency_code" value="USD">
							<input type="hidden" name="return" value="https://kodala.codes/">
							<input type="hidden" name="cancel_return" value="https://kodala.codes/code?id={{code.key.id()}}">
							<input type="hidden" name="notify_url" value="https://kodala.codes/notify_purchase?codeid={{code.key.id()}}&buyerid={{user.user_id()}}">
							<div class="form-group text-center">
								<button type="submit" class="btn button button--itzel button--size-l button--border-thin" style="display:inline-block; height:4em;">
									<i class="button__icon icon icon-cart"></i>
									<span style="font-weight:300;">Buy</span>
								</button>
							</div>
					{% else %}
						<form id="action-button" method="post">
							<div class="form-group text-center">
								<button type="button" onclick="location.href='/myprofile'" class="btn button button--itzel button--size-l button--border-thin" style="display:inline-block; height:4em;">
									<i class="button__icon icon icon-user"></i>
									<span style="font-weight:300;">Log In to Purchase</span>
								</button>
							</div>
					{% endif %}
				{% endif %}
				
				</form>
				
			</div>
		</div>
	</div>
	<div id="code-type" value="{{code.codetype}}" style="display:none;"></div>
	<div id="season" value="{{code.season}}" style="display:none;"></div>
</body>

<div id="confirmModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmHeading" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                {% if user and seller.userid == user.user_id() %}
                	<h3 id="confirmHeading">Are you sure you want to remove this code?</h3>
                {% else %}
                	<h3 id="confirmHeading">Are you sure you want to purchase this code?</h3>
                {% endif %}

            </div>
            <div class="modal-body text-left">
            	{% if user and seller.userid == user.user_id() %}
                	<p class="text-center">If you choose to delete your code for "{{code.title}}" it will be permanently removed from the site.</p>
                {% else %}
                	<p class="text-center">You will be redirected to PayPal to complete your purchase.</p>
                	{% if code.code != "" and code.code is not none %}
                		<p class="text-center">The seller of this code has enabled automatic delivery. You will receive the code once the payment has been sent.</p> 
                	{% else %}
                		<p class="text-center">The seller of this code has <b>not</b> enabled automatic delivery. The seller will manually email you the code once the payment has been received.</p>
                	{% endif %}
                {% endif %}
            </div>
            <div class="modal-footer text-center">
            	{% if user and seller.userid == user.user_id() %}
                	<button class="btn btn-primary" id="sendBtn" style="width:45%; float:left;">Remove</button>
                {% else %}
                	<button class="btn btn-primary" id="sendBtn" style="width:45%; float:left;">Buy!</button>
                {% endif %}
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" style="width:45%; float:right;">Cancel</button>
            </div>
        </div>
    </div>
</div>

</html>