<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		enter new code
	</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/digi.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-horizon.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/favicons/manifest.json">
	<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.throttle-debounce.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/digi.js"></script>
</head>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
	      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>                        
	      	</button>
	      	<a class="navbar-brand" href="/">
	      		<img src="/images/koala-clear.png">
	      	</a>
	    </div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/allcodes?format=1&page=1">UltraViolet</a></li>
				<li><a href="/allcodes?format=2&page=1">iTunes</a></li>
				<li><a href="/allcodes?format=3&page=1">Google Play</a></li>
				<li><a href="/allcodes?format=4&page=1">DMA</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right" style="margin-right:1em;">
			    <li>
			      	{% if user %}
			        <button onclick="window.location.href='/myprofile'" class="btn navbar-btn">
		    			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		    		</button>
		    		<button onclick="window.location.href='{{log_url}}'" class="btn navbar-btn">
		    			<span onclick="" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
		    		</button>
		    		{% else %}
		    		<button onclick="window.location.href='{{log_url}}'" class="btn navbar-btn">
		    			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
		    		</button>
		    		{% endif %}
		    	</li>
		    </ul>
		</div>
	</div>
</nav>

<body>
	<div class="container-fluid">
		<div class="row text-center" style="margin-top:3em;">
			<div class="col-xs-12 col-md-12 text-center">
				<input type="text" id="movie" class="focus-input-lg" placeholder="search for a movie">
			</div>
		</div>
		<div id="results" class="row row-horizon poster-row text-center" style="margin-bottom:3em;">
			{% for _ in range(1, 10) %}
			<div class="col-xs-6 col-md-3 text-center poster-column">
				<div class="poster-container">
					<a href="#form-format" class="darken movie-link">
				      	<img src="" class="img-responsive poster-med" movie-title="" movie-id="" poster-url="">
						<div class="poster-title-container">
							<div class="poster-title"></div>
						</div>
				    </a>
				</div>
			</div>
			{% endfor %}
		</div>
		<div id="form-row" class="row text-center" style="margin-top:3em;">
			<div class="col-xs-12 col-md-12 text-center">
				<form method="post">
					<div id="form-movie-title-container" class="form-group">
						<input type="text" id="form-movie-title" name="title" class="form-control" placeholder="movie title" style="margin: 0 auto; width:50%;" required>
					</div>
					<div id="form-price-container" class="form-group">
						<input type="number" min="0" step="0.01" name="price" id="form-price" class="form-control" placeholder="price" style="margin: 0 auto; width:50%;" required>
					</div>
					<div id="form-format-container" class="form-group">
					    <select class="form-control" id="form-format" name="format" style="text-align: center; margin: 0 auto; width:50%;" required>
					      	<option value="" disabled selected>-Format-</option>
					      	<option value="1">UltraViolet</option>
					      	<option value="2">iTunes</option>
					      	<option value="3">Google Play</option>
					      	<option value="4">DMA</option>
					    </select>
					</div>
					<input type="hidden" id="form-movie-id" name="movie-id">
					<input type="hidden" id="form-poster-url" name="poster-url">
					<input type="hidden" id="form-backdrop-url" name="backdrop-url">
					<div class="form-group" style="margin-top:2em; margin-bottom:4em;">
						<button type="submit" class="btn btn-primary" style="width:50%">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>