<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		kodala - settings
	</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/digi.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/buttons.css">
	<link rel="stylesheet" type="text/css" href="/css/vicons-font.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/favicons/manifest.json">
	<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.throttle-debounce.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/digi.js"></script>
</head>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
	      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>                        
	      	</button>
	      	<a class="navbar-brand" href="/">
	      		<img src="/images/koala-clear.png">
	      	</a>
	    </div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/allcodes?format=1&page=1">UltraViolet</a></li>
				<li><a href="/allcodes?format=2&page=1">iTunes</a></li>
				<li><a href="/allcodes?format=3&page=1">Google Play</a></li>
				<li><a href="/allcodes?format=4&page=1">DMA</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right" style="margin-right:1em;">
			    <li>
			      	{% if reviewer %}
			        <button onclick="window.location.href='/myprofile'" class="btn navbar-btn">
		    			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		    		</button>
		    		<button onclick="window.location.href='{{log_url}}'" class="btn navbar-btn">
		    			<span onclick="" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
		    		</button>
		    		{% else %}
		    		<button onclick="window.location.href='{{log_url}}'" class="btn navbar-btn">
		    			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
		    		</button>
		    		{% endif %}
		    	</li>
		    </ul>
		</div>
	</div>
</nav>

<body>
	<section>
		<div class="container-fluid">
			<div class="row" style="margin-bottom:4em;">
				<div class="col-xs-12 col-md-12 text-center">
					<span style="font-size:3em;">Reviews for {{reviewee.username}}</span>
				</div>
			</div>
		</div>
	</section>

	{% if reviewer and reviewer.userid != reviewee.userid%}
	<section id="submit-rating-container" style="margin-bottom:3em;">
		<div class="container-fluid">
			<div class="row text-center">
				<form method="post" id="reviewform">
					<div class="col-xs-2 col-md-2">
						<div class="form-group">
							<select class="form-control" name="role" id="review-role" style="text-align: center; width:100%;" required>
								<option value="" disabled selected>-Role-</option>
								<option value="buyer">Buyer</option>
								<option value="seller">Seller</option>
							</select>
						</div>
					</div>
					<div class="col-xs-2 col-md-2">
						<div class="form-group">
							<select class="form-control" name="rating" id="review-rating" style="text-align: center;width:100%;" required>
								<option value="" disabled selected>-Rating-</option>
								<option value="1">1</option>
								<option value="-1">-1</option>
							</select>
						</div>
					</div>
					<div class="col-xs-6 col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" name="comment" placeholder="comment" style="width:100%">
						</div>
					</div>
					<div class="col-xs-2 col-md-2">
						<div class="form-group">
							<button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
						</div>
					</div>
					<input type="hidden" name="reviewee" value="{{reviewee.userid}}" required>
				</form>
			</div>
		</div>
	</section>
	{% endif %}

	<section id="ratings-table-container" style="margin-bottom:2em;">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-xs-12 col-md-12 text-center">
					<table class="table table-responsive table-hover" style="width:95%; margin:0 auto;">
						<tr>
							<th class="text-center">Seller</th>
							<th class="text-center">Buyer</th>
							<th class="text-center">Comment</th>
							<th class="text-center">Rating</th>
						</tr>
						{% for review in reviews %}
							<tr {% if review.rating > 0 %} class="success" {% else %} class="danger" {% endif %}>
								<td class="text-center">
									<a href="/profile?id={{review.sellerid}}">View</a>
								</td>
								<td class="text-center">
									<a href="/profile?id={{review.buyerid}}">View</a>
								</td>
								<td class="text-center">
									<span style="font-weight:300">{{review.comment}}</span>
								</td>
								<td class="text-center">
									<span style="font-weight:300">{{review.rating}}</span>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</section>
</body>

</html>