<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		kodala
	</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/digi.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-horizon.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/favicons/manifest.json">
	<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.throttle-debounce.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/digi.js"></script>
</head>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
	      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>                        
	      	</button>
	      	<a class="navbar-brand" href="/">
	      		<img src="/images/koala-clear.png">
	      	</a>
	    </div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/allcodes?format=1&page=1">UltraViolet</a></li>
				<li><a href="/allcodes?format=2&page=1">iTunes</a></li>
				<li><a href="/allcodes?format=3&page=1">Google Play</a></li>
				<li><a href="/allcodes?format=4&page=1">DMA</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right" style="margin-right:1em;">
				<li>
					<form class="navbar-form form-inline" method="post" role="form">
			        	<div class="form-group">
			          		<input id="movie-search" name="query" type="text" class="form-control" placeholder="Search">
			        	</div>
			      	</form>
			    </li>
			    <li>
			      	{% if user %}
			        <button onclick="window.location.href='/myprofile'" class="btn navbar-btn">
		    			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		    		</button>
		    		<button onclick="window.location.href='{{log_url}}'" class="btn navbar-btn">
		    			<span onclick="" class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
		    		</button>
		    		{% else %}
		    		<button onclick="window.location.href='{{log_url}}'" class="btn navbar-btn">
		    			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
		    		</button>
		    		{% endif %}
		    	</li>
		    </ul>
		</div>
	</div>
</nav>

<body>

	<section id="title">
		<div class="container-fluid">
			<div class="row" style="margin-bottom:4em;">
				<div class="col-xs-12 col-md-12 text-center">
					<span style="font-size:3em;">Search Results for "{{query}}"</span>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container-fluid">
			<div class="row text-center">
				{% for code in codes %}
					<div class="col-xs-6 col-md-3 text-center">
						<div class="poster-container">
							<a href="/code?id={{code.key.id()}}" class="darken">
						      	<img src="https://image.tmdb.org/t/p/w342/{{code.posterurl}}" class="img-responsive poster-med" movie-title="{{code.title}}">
								<div class="poster-title-container">
									<div class="poster-title">
								    	{{code.title}}<br>${{ "{0:0.2f}".format(code.price) }}
								    </div>
								</div>
						    </a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
</body>

<footer style="margin-top:2em;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center">
				<nav aria-label="Page navigation">
				 	<ul class="pagination">
				    	<li>
					      	<a href="#" aria-label="Previous">
					        	<span aria-hidden="true">&laquo;</span>
					      	</a>
				    	</li>
				    	{% for i in range(1, numpages+1) %}
				    		{% if i == currpage %}
				    			<li class="active"><a href="#">{{i}}</a></li>
				    		{% else %}
				    			<li><a href="/search?q={{query}}&page={{i}}">{{i}}</a></li>
				    		{% endif %}
				    	{% endfor %}
				    	<li>
					      	<a href="#" aria-label="Next">
					        	<span aria-hidden="true">&raquo;</span>
					      	</a>
				    	</li>
				  	</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>

</html>